<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image test - 3000-5000 - Image 2 (AVIF)</title>
</head>
<body>
    <img src="/3000 - 5000 pixels/Image 2/Test-Image-2-AVIF.avif" alt="" />
</body>
</html>