<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image test - 2000-3000 - Image 8 (AVIF)</title>
</head>
<body>
    <img src="/2000 - 3000 pixels/Image 8/Test-Image-8-AVIF.avif" alt="" />
</body>
</html>