<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image test - 1000-2000 - Image 7 (GIF)</title>
</head>
<body>
    <img src="/1000 - 2000 pixels/Image 7/Test-Image-7-GIF.gif" alt="" />
</body>
</html>