<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image test - 500-1000 - Image 5 (JPG)</title>
</head>
<body>
    <img src="/500 - 1000 pixels/Image 5/Test-Image-5-JPG.jpg" alt="" />
</body>
</html>